.illustration {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
}