.alignment{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #f0f4f8;
    padding: 20px;
    box-sizing: border-box;
}

.profile-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaffd0;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
}

.form {
    width: 100%;
}

.form-section {
    width: 100%;
    margin-bottom: 20px; 
}

.form input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.language-selection {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; 
}

.language-options {
    display: flex;
    justify-content: space-around;
}

.language-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    width: 100px;
    transition: border 0.3s, background-color 0.3s;
}

.language-option.active {
    border-color: #00c853;
    background-color: #e0f7fa;
}

.language-option img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.actions {
    display: flex;
    gap: 10px;
}

.cancel, .save {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cancel {
    background-color: #ffcccc;
}

.cancel:hover {
    background-color: #ffb3b3;
    transform: scale(1.05);
}

.save {
    background-color: #b2ff59;
}

.save:hover {
    background-color: #a0e357;
    transform: scale(1.05);
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 24px; 
    height: 24px;
}

.button-row{
    width: 800px;
    display: flex;
}