.squashed-button {
    font-size: 0.75rem;
    letter-spacing: 5px;
    border-radius: 6px 6px 0px 0px;
    padding: 2px;
}

.column-master {
    padding: 0.5rem 0rem;
}

.column-child {
    padding: 0 0.5rem;
}

.left-side {
    padding: 0.5rem 0.25rem;
    border-right: 1px solid darkgray;
}

.right-side {
    padding: 0.5rem 0.25rem;
    /* Formality */
}

.column-title {
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: darkgray;
}

.column-text {
    margin-bottom: 0px;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.webcam-placeholder {
    width: 448.5px;
    height: 336.5px;
    background-color: #6c757d;
    color: white;
    border-radius: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webcam-live {
    width: 448.5px;
    height: 336.5px;
    border-radius: 0;
    border-bottom: 1px solid darkgray;
}