#matching-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#labels, #images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;             /* Ensure buttons are above the SVG lines */
}

#lines {
    flex: 1;
    position: relative;
}

.label, .image {
    width: 125px;
    height: 125px;
    margin: 10px 0;
    position: relative;
    z-index: 1;             /* Make sure labels and images stay above lines */
}

.selected {
    border: deepskyblue 2px solid;
}

.button {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}