.question-list-container {
    background-color: #f9f9f9;
    padding: 10px 0px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
}

.exercise-question-container {
    background-color: #f9f9f9;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.exercise-button {
    background-color: white;
    border-color: limegreen;
    padding: 0px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    margin-right: 13px;
}

.exercise-button:hover {
    background-color: limegreen;
    border-color: white;
}

.exercise-button-selected {
    background-color: limegreen;
    border-color: white;
    color: white;
}

.hidden-element {
    display: none;
}

.hidden-element p {
    margin: 0;
    padding: 0;
}